<div class="account-left ">
  <div class="
                                                                                                                                                    one-third
                                                                                                                                                    column
                                                                                                                                                    medium-down--one-whole
                                                                                                                                                    account-sidebar
                                                                                                                                                  ">
    <h2 class="acoount-information">My Information</h2>
    <p class="name">
        Hi, {{ customer.first_name }}
    </p>

    <p class="email note">
      {{ customer.email }}
    </p>
    <p class="customer-default-phone">Phone - {{ customer.default_address.phone }}</p>
    {% comment %}
    <h4>{{ 'customer.addresses.primary' | t }}</h4>
    {% endcomment %}
    <div class="address note">
      {% comment %}
      {% if customer.default_address != nil %}
      <p>{{ customer.default_address.address1 }}</p>

      {% if customer.default_address.address2 != "" %}
      <p>{{ customer.default_address.address2 }}</p>
      {% endif %}

      <p>{{ customer.default_address.city }}{% if customer.default_address.province_code %}, {{ customer.default_address.province_code }}{% endif %} {{ customer.default_address.zip }}</p>

      <p>{{ customer.default_address.country }}</p>

      <p>{{ customer.default_address.phone }}</p>
      {% else %}
      <p>{{ 'customer.addresses.no_addresses' | t }}</p>
      {% endif %}
      {% endcomment %}
<ul class="account-sidebarl-tab-list" role="list">
      <li class="account-order mobile-hidden {% if template.name contains 'account' %}active{%endif%} {% if template.name contains 'order' %}active{%endif%}" role="listitem" {% if template.name contains 'account' %}aria-current="true"{%endif%}>
        <a href="/account">
          <span class=" mobile-hidden active-added">

            <svg
              aria-hidden="true"
              width="15"
              height="17"
              viewBox="0 0 15 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.12343 14.1026H2.29621C2.11232 14.1026 1.93024 14.0664 1.76036 13.996C1.59048 13.9256 1.43613 13.8224 1.30614 13.6923C1.17616 13.5623 1.07307 13.4079 1.00278 13.2379C0.932488 13.068 0.896369 12.8859 0.896485 12.702V2.39973C0.896485 2.0285 1.04396 1.67247 1.30646 1.40997C1.56896 1.14747 1.92498 1 2.29621 1H10.7342C11.1055 1 11.4615 1.14747 11.724 1.40997C11.9865 1.67247 12.134 2.0285 12.134 2.39973V7.8391"
                stroke="white"
                stroke-miterlimit="10"
                stroke-linecap="round" />
              <path
                d="M12.7437 10.432H7.59612C7.55485 10.432 7.51415 10.4417 7.47728 10.4602C7.44042 10.4788 7.40841 10.5057 7.38382 10.5389C7.35923 10.572 7.34275 10.6105 7.33569 10.6511C7.32862 10.6918 7.33118 10.7336 7.34315 10.7731L8.21313 13.6272C8.22958 13.6815 8.26306 13.729 8.30861 13.7628C8.35416 13.7966 8.40938 13.8149 8.46611 13.8149H11.307C11.3614 13.8146 11.4144 13.7975 11.4587 13.7659C11.503 13.7344 11.5365 13.6899 11.5547 13.6386L12.7437 10.432ZM12.7437 10.432L13.2224 9.21469C13.2363 9.17945 13.2606 9.14928 13.2921 9.12818C13.3236 9.10709 13.3608 9.09606 13.3986 9.09657H14.2272"
                stroke="white"
                stroke-miterlimit="10"
                stroke-linecap="round" />
              <path
                d="M8.49033 15.8692C8.73471 15.8692 8.93282 15.6711 8.93282 15.4267C8.93282 15.1824 8.73471 14.9843 8.49033 14.9843C8.24596 14.9843 8.04785 15.1824 8.04785 15.4267C8.04785 15.6711 8.24596 15.8692 8.49033 15.8692Z"
                stroke="white"
                stroke-miterlimit="10" />
              <path
                d="M11.2689 15.8692C11.5133 15.8692 11.7114 15.6711 11.7114 15.4267C11.7114 15.1824 11.5133 14.9843 11.2689 14.9843C11.0245 14.9843 10.8264 15.1824 10.8264 15.4267C10.8264 15.6711 11.0245 15.8692 11.2689 15.8692Z"
                stroke="white"
                stroke-miterlimit="10" />
              <path
                d="M2.58716 2.76294H10.4584"
                stroke="white"
                stroke-miterlimit="10" />
              <path
                d="M2.58716 5.40723H9.1918"
                stroke="white"
                stroke-miterlimit="10" />
              <path
                d="M2.58716 8.05151H9.1918"
                stroke="white"
                stroke-miterlimit="10" />
            </svg>

          </span>
          <span class="active-not-added">
            <svg
              aria-hidden="true"
              width="15"
              height="17"
              viewBox="0 0 15 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.22695 14.1026H2.39973C2.21584 14.1026 2.03375 14.0664 1.86387 13.996C1.69399 13.9256 1.53965 13.8224 1.40966 13.6923C1.27967 13.5623 1.17659 13.4079 1.1063 13.2379C1.036 13.068 0.999884 12.8859 1 12.702V2.39973C1 2.0285 1.14747 1.67247 1.40997 1.40997C1.67247 1.14747 2.0285 1 2.39973 1H10.8378C11.209 1 11.565 1.14747 11.8275 1.40997C12.09 1.67247 12.2375 2.0285 12.2375 2.39973V7.8391"
                stroke="#17130F"
                stroke-miterlimit="10"
                stroke-linecap="round" />
              <path
                d="M12.8475 10.4311H7.69988C7.65861 10.4311 7.61791 10.4408 7.58104 10.4594C7.54418 10.4779 7.51217 10.5049 7.48758 10.538C7.46299 10.5712 7.44651 10.6096 7.43945 10.6503C7.43238 10.691 7.43494 10.7327 7.44691 10.7722L8.31689 13.6263C8.33334 13.6806 8.36682 13.7282 8.41237 13.762C8.45792 13.7958 8.51314 13.8141 8.56987 13.8141H11.4108C11.4652 13.8137 11.5181 13.7966 11.5625 13.7651C11.6068 13.7335 11.6403 13.6891 11.6584 13.6378L12.8475 10.4311ZM12.8475 10.4311L13.3261 9.21383C13.3401 9.17859 13.3644 9.14842 13.3959 9.12733C13.4274 9.10623 13.4645 9.09521 13.5024 9.09572H14.331"
                stroke="#EB1676"
                stroke-miterlimit="10"
                stroke-linecap="round" />
              <path
                d="M8.59385 15.8692C8.83823 15.8692 9.03633 15.6711 9.03633 15.4267C9.03633 15.1824 8.83823 14.9843 8.59385 14.9843C8.34947 14.9843 8.15137 15.1824 8.15137 15.4267C8.15137 15.6711 8.34947 15.8692 8.59385 15.8692Z"
                stroke="#EB1676"
                stroke-miterlimit="10" />
              <path
                d="M11.3722 15.8693C11.6165 15.8693 11.8147 15.6712 11.8147 15.4269C11.8147 15.1825 11.6165 14.9844 11.3722 14.9844C11.1278 14.9844 10.9297 15.1825 10.9297 15.4269C10.9297 15.6712 11.1278 15.8693 11.3722 15.8693Z"
                stroke="#EB1676"
                stroke-miterlimit="10" />
              <path
                d="M2.69043 2.76367H10.5617"
                stroke="#17130F"
                stroke-miterlimit="10" />
              <path
                d="M2.69043 5.40625H9.29507"
                stroke="#17130F"
                stroke-miterlimit="10" />
              <path
                d="M2.69043 8.05078H9.29507"
                stroke="#17130F"
                stroke-miterlimit="10" />
            </svg>
          </span>
          My Orders
        </a>
      </li>
      <li class="account-order mob-account-order {% if template.name contains 'account' %}active{%endif%}" role="listitem" {% if template.name contains 'account' %}aria-current="true"{%endif%}>
        <a href="#">
          <span class=" mobile-hidden active-added">

            <svg
              aria-hidden="true"
              width="15"
              height="17"
              viewBox="0 0 15 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.12343 14.1026H2.29621C2.11232 14.1026 1.93024 14.0664 1.76036 13.996C1.59048 13.9256 1.43613 13.8224 1.30614 13.6923C1.17616 13.5623 1.07307 13.4079 1.00278 13.2379C0.932488 13.068 0.896369 12.8859 0.896485 12.702V2.39973C0.896485 2.0285 1.04396 1.67247 1.30646 1.40997C1.56896 1.14747 1.92498 1 2.29621 1H10.7342C11.1055 1 11.4615 1.14747 11.724 1.40997C11.9865 1.67247 12.134 2.0285 12.134 2.39973V7.8391"
                stroke="white"
                stroke-miterlimit="10"
                stroke-linecap="round" />
              <path
                d="M12.7437 10.432H7.59612C7.55485 10.432 7.51415 10.4417 7.47728 10.4602C7.44042 10.4788 7.40841 10.5057 7.38382 10.5389C7.35923 10.572 7.34275 10.6105 7.33569 10.6511C7.32862 10.6918 7.33118 10.7336 7.34315 10.7731L8.21313 13.6272C8.22958 13.6815 8.26306 13.729 8.30861 13.7628C8.35416 13.7966 8.40938 13.8149 8.46611 13.8149H11.307C11.3614 13.8146 11.4144 13.7975 11.4587 13.7659C11.503 13.7344 11.5365 13.6899 11.5547 13.6386L12.7437 10.432ZM12.7437 10.432L13.2224 9.21469C13.2363 9.17945 13.2606 9.14928 13.2921 9.12818C13.3236 9.10709 13.3608 9.09606 13.3986 9.09657H14.2272"
                stroke="white"
                stroke-miterlimit="10"
                stroke-linecap="round" />
              <path
                d="M8.49033 15.8692C8.73471 15.8692 8.93282 15.6711 8.93282 15.4267C8.93282 15.1824 8.73471 14.9843 8.49033 14.9843C8.24596 14.9843 8.04785 15.1824 8.04785 15.4267C8.04785 15.6711 8.24596 15.8692 8.49033 15.8692Z"
                stroke="white"
                stroke-miterlimit="10" />
              <path
                d="M11.2689 15.8692C11.5133 15.8692 11.7114 15.6711 11.7114 15.4267C11.7114 15.1824 11.5133 14.9843 11.2689 14.9843C11.0245 14.9843 10.8264 15.1824 10.8264 15.4267C10.8264 15.6711 11.0245 15.8692 11.2689 15.8692Z"
                stroke="white"
                stroke-miterlimit="10" />
              <path
                d="M2.58716 2.76294H10.4584"
                stroke="white"
                stroke-miterlimit="10" />
              <path
                d="M2.58716 5.40723H9.1918"
                stroke="white"
                stroke-miterlimit="10" />
              <path
                d="M2.58716 8.05151H9.1918"
                stroke="white"
                stroke-miterlimit="10" />
            </svg>

          </span>
          <span class="active-not-added">
            <svg
              aria-hidden="true"
              width="15"
              height="17"
              viewBox="0 0 15 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.22695 14.1026H2.39973C2.21584 14.1026 2.03375 14.0664 1.86387 13.996C1.69399 13.9256 1.53965 13.8224 1.40966 13.6923C1.27967 13.5623 1.17659 13.4079 1.1063 13.2379C1.036 13.068 0.999884 12.8859 1 12.702V2.39973C1 2.0285 1.14747 1.67247 1.40997 1.40997C1.67247 1.14747 2.0285 1 2.39973 1H10.8378C11.209 1 11.565 1.14747 11.8275 1.40997C12.09 1.67247 12.2375 2.0285 12.2375 2.39973V7.8391"
                stroke="#17130F"
                stroke-miterlimit="10"
                stroke-linecap="round" />
              <path
                d="M12.8475 10.4311H7.69988C7.65861 10.4311 7.61791 10.4408 7.58104 10.4594C7.54418 10.4779 7.51217 10.5049 7.48758 10.538C7.46299 10.5712 7.44651 10.6096 7.43945 10.6503C7.43238 10.691 7.43494 10.7327 7.44691 10.7722L8.31689 13.6263C8.33334 13.6806 8.36682 13.7282 8.41237 13.762C8.45792 13.7958 8.51314 13.8141 8.56987 13.8141H11.4108C11.4652 13.8137 11.5181 13.7966 11.5625 13.7651C11.6068 13.7335 11.6403 13.6891 11.6584 13.6378L12.8475 10.4311ZM12.8475 10.4311L13.3261 9.21383C13.3401 9.17859 13.3644 9.14842 13.3959 9.12733C13.4274 9.10623 13.4645 9.09521 13.5024 9.09572H14.331"
                stroke="#EB1676"
                stroke-miterlimit="10"
                stroke-linecap="round" />
              <path
                d="M8.59385 15.8692C8.83823 15.8692 9.03633 15.6711 9.03633 15.4267C9.03633 15.1824 8.83823 14.9843 8.59385 14.9843C8.34947 14.9843 8.15137 15.1824 8.15137 15.4267C8.15137 15.6711 8.34947 15.8692 8.59385 15.8692Z"
                stroke="#EB1676"
                stroke-miterlimit="10" />
              <path
                d="M11.3722 15.8693C11.6165 15.8693 11.8147 15.6712 11.8147 15.4269C11.8147 15.1825 11.6165 14.9844 11.3722 14.9844C11.1278 14.9844 10.9297 15.1825 10.9297 15.4269C10.9297 15.6712 11.1278 15.8693 11.3722 15.8693Z"
                stroke="#EB1676"
                stroke-miterlimit="10" />
              <path
                d="M2.69043 2.76367H10.5617"
                stroke="#17130F"
                stroke-miterlimit="10" />
              <path
                d="M2.69043 5.40625H9.29507"
                stroke="#17130F"
                stroke-miterlimit="10" />
              <path
                d="M2.69043 8.05078H9.29507"
                stroke="#17130F"
                stroke-miterlimit="10" />
            </svg>
          </span>
          My Orders
        </a>
      </li>
      <li class="address {% if template.name contains 'addresses' %}active{%endif%}" role="listitem" {% if template.name contains 'addresses' %}aria-current="true"{%endif%}>
        <a href="{{ routes.account_addresses_url }}">
          <span class=" mobile-hidden active-added">
            <svg
              aria-hidden="true"
              width="14"
              height="16"
              viewBox="0 0 14 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M7 0.125C5.35954 0.126861 3.78681 0.779354 2.62683 1.93933C1.46685 3.09931 0.814361 4.67204 0.8125 6.3125C0.8125 8.52031 1.83273 10.8603 3.76562 13.0801C4.63414 14.0831 5.61165 14.9864 6.68008 15.773C6.77466 15.8393 6.88734 15.8748 7.00281 15.8748C7.11829 15.8748 7.23097 15.8393 7.32555 15.773C8.39201 14.986 9.36762 14.0828 10.2344 13.0801C12.1645 10.8603 13.1875 8.52031 13.1875 6.3125C13.1856 4.67204 12.5331 3.09931 11.3732 1.93933C10.2132 0.779354 8.64046 0.126861 7 0.125ZM7 14.6094C5.83773 13.6953 1.9375 10.3379 1.9375 6.3125C1.9375 4.96984 2.47087 3.68217 3.42027 2.73277C4.36967 1.78337 5.65734 1.25 7 1.25C8.34266 1.25 9.63032 1.78337 10.5797 2.73277C11.5291 3.68217 12.0625 4.96984 12.0625 6.3125C12.0625 10.3365 8.16227 13.6953 7 14.6094Z" fill="white" />
              <circle
                cx="7.00002"
                cy="6.71425"
                r="2.57143"
                fill="white" />
            </svg>
          </span>
          <span class="active-not-added">
            <svg
              aria-hidden="true"
              width="14"
              height="16"
              viewBox="0 0 14 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M7 0.125C5.35954 0.126861 3.78681 0.779354 2.62683 1.93933C1.46685 3.09931 0.814361 4.67204 0.8125 6.3125C0.8125 8.52031 1.83273 10.8603 3.76562 13.0801C4.63414 14.0831 5.61165 14.9864 6.68008 15.773C6.77466 15.8393 6.88734 15.8748 7.00281 15.8748C7.11829 15.8748 7.23097 15.8393 7.32555 15.773C8.39201 14.986 9.36762 14.0828 10.2344 13.0801C12.1645 10.8603 13.1875 8.52031 13.1875 6.3125C13.1856 4.67204 12.5331 3.09931 11.3732 1.93933C10.2132 0.779354 8.64046 0.126861 7 0.125ZM7 14.6094C5.83773 13.6953 1.9375 10.3379 1.9375 6.3125C1.9375 4.96984 2.47087 3.68217 3.42027 2.73277C4.36967 1.78337 5.65734 1.25 7 1.25C8.34266 1.25 9.63032 1.78337 10.5797 2.73277C11.5291 3.68217 12.0625 4.96984 12.0625 6.3125C12.0625 10.3365 8.16227 13.6953 7 14.6094Z" fill="#17130F" />
              <circle
                cx="6.9999"
                cy="6.71425"
                r="2.57143"
                fill="#EB1676" />
            </svg>
          </span>
          {{ 'customer.account.view_addresses' | t }}
        </a>
      </li>
      <li class="{{ template.name }}" role="listitem">
        <a href="/a/subscriptions/manage/">
          <span>
            <svg
              aria-hidden="true"
              width="17"
              height="17"
              viewBox="0 0 17 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M3.26205 10.1298H2.71373C2.47301 10.1298 2.27783 9.93463 2.27783 9.69391C2.27783 9.45318 2.47301 9.25801 2.71373 9.25801H3.26205C3.50278 9.25801 3.69795 9.45318 3.69795 9.69391C3.69795 9.93463 3.50278 10.1298 3.26205 10.1298ZM9.0196 7.92551H8.47128C8.23056 7.92551 8.03538 7.73033 8.03538 7.48961C8.03538 7.24888 8.23056 7.05371 8.47128 7.05371H9.0196C9.26033 7.05371 9.4555 7.24888 9.4555 7.48961C9.4555 7.73033 9.26033 7.92551 9.0196 7.92551ZM11.8984 7.92551H11.3501C11.1093 7.92551 10.9142 7.73033 10.9142 7.48961C10.9142 7.24888 11.1093 7.05371 11.3501 7.05371H11.8984C12.1391 7.05371 12.3343 7.24888 12.3343 7.48961C12.3343 7.73033 12.1391 7.92551 11.8984 7.92551ZM6.14083 7.92551H5.59251C5.35178 7.92551 5.15661 7.73033 5.15661 7.48961C5.15661 7.24888 5.35178 7.05371 5.59251 7.05371H6.14083C6.38155 7.05371 6.57673 7.24888 6.57673 7.48961C6.57673 7.73033 6.38155 7.92551 6.14083 7.92551ZM6.14083 12.3341H5.59251C5.35178 12.3341 5.15661 12.139 5.15661 11.8982C5.15661 11.6575 5.35178 11.4623 5.59251 11.4623H6.14083C6.38155 11.4623 6.57673 11.6575 6.57673 11.8982C6.57673 12.139 6.38155 12.3341 6.14083 12.3341ZM3.26205 12.3341H2.71373C2.47301 12.3341 2.27783 12.139 2.27783 11.8982C2.27783 11.6575 2.47301 11.4623 2.71373 11.4623H3.26205C3.50278 11.4623 3.69795 11.6575 3.69795 11.8982C3.69795 12.139 3.50278 12.3341 3.26205 12.3341Z" fill="#17130F" />
              <path d="M12.4861 7.97217C11.2238 7.97217 10.0811 8.49321 9.26115 9.33122C9.18964 9.2834 9.10552 9.25792 9.01948 9.25803H8.47116C8.23044 9.25803 8.03526 9.4532 8.03526 9.69393C8.03526 9.93465 8.23044 10.1298 8.47116 10.1298H8.63746C8.21573 10.8161 7.97217 11.6231 7.97217 12.486C7.97217 14.975 9.99709 16.9999 12.486 16.9999C14.975 16.9999 16.9999 14.975 16.9999 12.486C16.9999 9.99702 14.975 7.97217 12.4861 7.97217ZM12.4861 16.1281C10.4778 16.1281 8.844 14.4942 8.844 12.486C8.844 10.4778 10.4779 8.84393 12.4861 8.84393C14.4943 8.84393 16.1281 10.4778 16.1281 12.486C16.1281 14.4942 14.4943 16.1281 12.4861 16.1281Z" fill="#EB1676" />
              <path d="M13.6676 1.17703H12.5179V0.435897C12.5179 0.195173 12.3227 0 12.082 0C11.8413 0 11.6461 0.195173 11.6461 0.435897V1.17703H9.33387V0.435897C9.33387 0.195173 9.1387 0 8.89797 0C8.65725 0 8.46208 0.195173 8.46208 0.435897V1.17703H6.14986V0.435897C6.14986 0.195173 5.95469 0 5.71396 0C5.47324 0 5.27806 0.195173 5.27806 0.435897V1.17703H2.96588V0.435897C2.96588 0.195173 2.77071 0 2.52999 0C2.28926 0 2.09409 0.195173 2.09409 0.435897V1.17703H0.944445C0.423692 1.17703 0 1.60069 0 2.12148V13.6676C0 14.1884 0.423692 14.612 0.944445 14.612H6.5944C6.83513 14.612 7.0303 14.4168 7.0303 14.1761C7.0303 13.9354 6.83513 13.7402 6.5944 13.7402H0.944445C0.904378 13.7402 0.871795 13.7076 0.871795 13.6676V5.2012H13.7402V6.23115C13.7402 6.47188 13.9354 6.66705 14.1761 6.66705C14.4168 6.66705 14.612 6.47188 14.612 6.23115V2.12148C14.612 1.60069 14.1883 1.17703 13.6676 1.17703ZM0.871795 2.12148C0.871795 2.08141 0.904378 2.04883 0.944445 2.04883H2.09409V2.7151C2.09409 2.95582 2.28926 3.15099 2.52999 3.15099C2.77071 3.15099 2.96588 2.95582 2.96588 2.7151V2.04883H5.27806V2.7151C5.27806 2.95582 5.47324 3.15099 5.71396 3.15099C5.95469 3.15099 6.14986 2.95582 6.14986 2.7151V2.04883H8.46208V2.7151C8.46208 2.95582 8.65725 3.15099 8.89797 3.15099C9.1387 3.15099 9.33387 2.95582 9.33387 2.7151V2.04883H11.6461V2.7151C11.6461 2.95582 11.8413 3.15099 12.082 3.15099C12.3227 3.15099 12.5179 2.95582 12.5179 2.7151V2.04883H13.6675C13.7076 2.04883 13.7402 2.08141 13.7402 2.12148V4.32937H0.871795V2.12148Z" fill="#17130F" />
              <path d="M14.0152 10.5628L13.6012 9.67988C13.499 9.46189 13.2394 9.36814 13.0215 9.47025C12.824 9.56288 12.729 9.78453 12.7888 9.98751C12.6937 9.97601 12.5981 9.97016 12.5024 9.96997C11.1172 9.96997 9.99023 11.141 9.99023 12.5804C9.99023 12.8211 10.1854 13.0163 10.4261 13.0163C10.6669 13.0163 10.862 12.8211 10.862 12.5804C10.862 11.6225 11.5967 10.8431 12.5001 10.8418C12.3015 11.1941 12.6704 11.6149 13.0466 11.4585L13.7879 11.1504C14.0095 11.0582 14.1181 10.7823 14.0152 10.5628ZM14.0699 14.0751C13.9239 13.8836 13.6504 13.8469 13.459 13.9929C13.1792 14.2063 12.8483 14.3191 12.5023 14.3191C12.3331 14.3191 12.1666 14.291 12.0081 14.2377C12.1427 14.1439 12.2187 13.9782 12.1889 13.8059C12.1478 13.5687 11.9223 13.4095 11.685 13.4507L10.8727 13.5913C10.6244 13.6344 10.4593 13.8945 10.5272 14.1379L10.7616 14.9785C10.873 15.378 11.4472 15.3994 11.5902 15.0117C11.8779 15.1286 12.1866 15.191 12.5023 15.191C13.0411 15.191 13.5547 15.0164 13.9877 14.6861C14.1791 14.54 14.2159 14.2665 14.0699 14.0751Z" fill="#EB1676" />
              <path d="M14.5464 13.4724C14.8273 13.4724 15.0549 13.2447 15.0549 12.9639C15.0549 12.683 14.8273 12.4553 14.5464 12.4553C14.2655 12.4553 14.0378 12.683 14.0378 12.9639C14.0378 13.2447 14.2655 13.4724 14.5464 13.4724Z" fill="#EB1676" />
            </svg>
          </span>
          Manage Subscriptions
        </a>
      </li>
      <li class="{{ template.name }}" role="listitem">
        <a href="{{ routes.account_logout_url }}" id="customer_logout_link_button">
          <span>
            <svg
              aria-hidden="true"
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M5 11.5C5 11.6326 4.94732 11.7598 4.85355 11.8536C4.75979 11.9473 4.63261 12 4.5 12H1C0.734784 12 0.48043 11.8946 0.292893 11.7071C0.105357 11.5196 0 11.2652 0 11V1C0 0.734784 0.105357 0.48043 0.292893 0.292893C0.48043 0.105357 0.734784 0 1 0H4.5C4.63261 0 4.75979 0.0526785 4.85355 0.146447C4.94732 0.240215 5 0.367392 5 0.5C5 0.632608 4.94732 0.759785 4.85355 0.853553C4.75979 0.947321 4.63261 1 4.5 1H1V11H4.5C4.63261 11 4.75979 11.0527 4.85355 11.1464C4.94732 11.2402 5 11.3674 5 11.5Z" fill="#17130F" />
              <path d="M9.35375 3.14628L11.8538 5.64628C11.9002 5.69272 11.9371 5.74786 11.9623 5.80856C11.9874 5.86926 12.0004 5.93433 12.0004 6.00003C12.0004 6.06574 11.9874 6.13081 11.9623 6.1915C11.9371 6.2522 11.9002 6.30735 11.8538 6.35378L9.35375 8.85378C9.25993 8.9476 9.13268 9.00031 9 9.00031C8.86732 9.00031 8.74007 8.9476 8.64625 8.85378C8.55243 8.75996 8.49972 8.63272 8.49972 8.50003C8.49972 8.36735 8.55243 8.2401 8.64625 8.14628L10.2931 6.50003H4.5C4.36739 6.50003 4.24021 6.44736 4.14645 6.35359C4.05268 6.25982 4 6.13264 4 6.00003C4 5.86743 4.05268 5.74025 4.14645 5.64648C4.24021 5.55271 4.36739 5.50003 4.5 5.50003H10.2931L8.64625 3.85378C8.55243 3.75996 8.49972 3.63272 8.49972 3.50003C8.49972 3.36735 8.55243 3.2401 8.64625 3.14628C8.74007 3.05246 8.86732 2.99976 9 2.99976C9.13268 2.99976 9.25993 3.05246 9.35375 3.14628Z" fill="#EB1676" />
            </svg>
          </span>
          {{ 'layout.customer.log_out' | t }}
        </a>
      </li>
    </ul>
    </div>
  </div>
  <div class="order-customer-support">
    <p>
      For Customer Support
      <a href="https://mielleorganics.zendesk.com/hc/en-us/requests/new" aria-label="Click here for customer support">Click here</a>
    </p>
  </div>
</div>