{% if section.settings.video != blank %}
    <div class="prod-video">{{section.settings.video }}</div>
{% endif %}

<div class="middle-sec">
    <div class="row">
      {% if section.settings.left_section_title != blank or section.settings.left_section_para != blank or section.settings.left_section_image != blank %}  
      <div class="one-half">
        <div class="i-text-l">
          <h2>{{ section.settings.left_section_title }}</h2>
          {{ section.settings.left_section_para }}
        </div>
        {% if section.settings.left_section_image != blank %}
        <div class="middle-sec-img">
          <img src="{{section.settings.left_section_image | img_url: 'master' }}">
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% if section.settings.right_section_title != blank or section.settings.right_section_para != blank or section.settings.right_section_image != blank %}
      <div class="one-half">
        {% if section.settings.right_section_image != blank %}
        <div class="middle-sec-img">
            <img src="{{section.settings.right_section_image | img_url: 'master' }}">
        </div>
       {% endif %}
        <div class="i-text-r">
            <h2>{{ section.settings.right_section_title }}</h2>
            {{ section.settings.right_section_para }}
        </div>
      </div>
      {% endif %}
    </div>
  </div>