<div class="one-whole column">
  <div class="paginate">
    {%- if paginate.pages > 1 -%}
    <nav role="navigation" aria-label="pagination">
      <ol class="pagination">
        {%- if paginate.previous-%}
          <li class="prev">
            <a href="{{ paginate.previous.url }}" aria-label="previous page">
              <span class="icon-left-arrow"></span>
              Prev<span class="visually-hidden">ious</span> <span class="visuallyhidden">page</span>
            </a>
          </li>
        {%- else -%}
          <li class="prev disabled">
            <span class="icon-left-arrow"></span>
            <span role="text">Prev<span class="visually-hidden">ious</span> <span class="visually-hidden">page disabled</span></span> 
          </li>
        {%- endif -%}

        {%- for part in paginate.parts -%}
          {%- if part.is_link -%}
            <li class="page">
              <a href="{{ part.url }}">
                <span class="visuallyhidden">page</span> {{ part.title }}
              </a>
            </li>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <li class="page current active" aria-current="page">
                <span class="visuallyhidden">page </span> {{ part.title }}
              </li>
            {%- else -%}
              <li class="page">
                <span class="visuallyhidden">page </span> {{ part.title }}
              </li>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if paginate.next -%}
          <li class="next">
            <a href="{{ paginate.next.url }}">
              Next <span class="visuallyhidden">page</span>
              <span class="icon-right-arrow"></span>
            </a>
          </li>
        {%- else -%}
          <li class="next disabled">
            Next <span class="visuallyhidden">page</span>
            <span class="icon-right-arrow"></span>
          </li>
        {%- endif -%}
      </ol>
    </nav>
  {%- endif -%}
    {% comment %}{% if paginate.pages > 1 %}
      {{ paginate | default_pagination | replace: '&raquo;', '<span class="icon-right-arrow"></span>' | replace: '&laquo;', '<span class="icon-left-arrow"></span>' }}
    {% endif %}
    {% endcomment %}
  </div>
</div>
<style>
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
  
.pagination li {
  display: inline; margin:0;
}
</style>