<ul role="list" class="social_icons">
  {% if settings.behance_link != '' %}
    <li role="listitem"><a href="{{ settings.behance_link }}" title="{{ shop.name }} Organics on Behance opens in a new tab" rel="me" target="_blank" class="icon-behance"></a></li>
  {% endif %}

  {% if settings.clubhouse_link != '' %}
    <li role="listitem"><a href="{{ settings.clubhouse_link }}" title="{{ shop.name }} Organics on Clubhouse opens in a new tab" rel="me" target="_blank" class="icon-clubhouse"></a></li>
  {% endif %}

  {% if settings.discord_link != '' %}
    <li role="listitem"><a href="{{ settings.discord_link }}" title="{{ shop.name }} Organics on Discord opens in a new tab" rel="me" target="_blank" class="icon-discord"></a></li>
  {% endif %}

   {% if settings.dribbble_link != '' %}
    <li role="listitem"><a href="{{ settings.dribbble_link }}" title="{{ shop.name }} Organics on Dribbble opens in a new tab" rel="me" target="_blank" class="icon-dribbble"></a></li>
  {% endif %}

  {% if settings.email_link != '' %}
    <li role="listitem"><a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }} Organics" class="icon-email"></a></li>
  {% endif %}

  {% if settings.facebook_link != '' %}
    <li role="listitem"><a href="{{ settings.facebook_link }}" title="{{ shop.name }} Organics on Facebook opens in a new tab" rel="me" target="_blank" class="icon-facebook"></a></li>
  {% endif %}

  {% if settings.flickr_link != '' %}
    <li role="listitem"><a href="{{ settings.flickr_link }}" title="{{ shop.name }} Organics on Flickr opens in a new tab" rel="me" target="_blank" class="icon-flickr"></a></li>
  {% endif %}

  {% if settings.houzz_link != '' %}
    <li role="listitem"><a href="{{ settings.houzz_link }}" title="{{ shop.name }} Organics on Houzz opens in a new tab" rel="me" target="_blank" class="icon-houzz"></a></li>
  {% endif %}

  {% if settings.instagram_link != '' %}
    <li role="listitem"><a href="{{ settings.instagram_link }}" title="{{ shop.name }} Organics on Instagram opens in a new tab" rel="me" target="_blank" class="icon-instagram"></a></li>
  {% endif %}

  {% if settings.kickstarter_link != '' %}
    <li role="listitem"><a href="{{ settings.kickstarter_link }}" title="{{ shop.name }} Organics on Kickstarter opens in a new tab" rel="me" target="_blank" class="icon-kickstarter"></a></li>
  {% endif %}

  {% if settings.linkedin_link != '' %}
    <li role="listitem"><a href="{{ settings.linkedin_link }}" title="{{ shop.name }} Organics on LinkedIn opens in a new tab" rel="me" target="_blank" class="icon-linkedin"></a></li>
  {% endif %}

  {% if settings.medium_link != '' %}
    <li role="listitem"><a href="{{ settings.medium_link }}" title="{{ shop.name }} Organics on Medium opens in a new tab" rel="me" target="_blank" class="icon-medium"></a></li>
  {% endif %}

  {% if settings.messenger_link != '' %}
    <li role="listitem"><a href="{{ settings.messenger_link }}" title="{{ shop.name }} Organics on Messenger opens in a new tab" rel="me" target="_blank" class="icon-messenger"></a></li>
  {% endif %}

  {% if settings.opensea_link != '' %}
    <li role="listitem"><a href="{{ settings.opensea_link }}" title="{{ shop.name }} Organics on OpenSea opens in a new tab" rel="me" target="_blank" class="icon-opensea"></a></li>
  {% endif %}

  {% if settings.pinterest_link != '' %}
    <li role="listitem"><a href="{{ settings.pinterest_link }}" title="{{ shop.name }} Organics on Pinterest opens in a new tab" rel="me" target="_blank" class="icon-pinterest"></a></li>
  {% endif %}

  {% if settings.reddit_link != '' %}
    <li role="listitem"><a href="{{ settings.reddit_link }}" title="{{ shop.name }} Organics on Reddit opens in a new tab" rel="me" target="_blank" class="icon-reddit"></a></li>
  {% endif %}

  {% if settings.rss_link != '' %}
    <li role="listitem"><a href="{{ settings.rss_link }}" title="{{ shop.name }} Organics on RSS opens in a new tab" rel="me" target="_blank" class="icon-rss"></a></li>
  {% endif %}

  {% if settings.snapchat_link != '' %}
    <li role="listitem"><a href="{{ settings.snapchat_link }}" title="{{ shop.name }} Organics on Snapchat opens in a new tab" rel="me" target="_blank" class="icon-snapchat"></a></li>
  {% endif %}

  {% if settings.spotify_link != '' %}
    <li role="listitem"><a href="{{ settings.spotify_link }}" title="{{ shop.name }} Organics on Spotify opens in a new tab" rel="me" target="_blank" class="icon-spotify"></a></li>
  {% endif %}

  {% if settings.tiktok_link != '' %}
    <li role="listitem"><a href="{{ settings.tiktok_link }}" title="{{ shop.name }} Organics on TikTok opens in a new tab" rel="me" target="_blank" class="icon-tiktok"></a></li>
  {% endif %}

  {% if settings.tumblr_link != '' %}
    <li role="listitem"><a href="{{ settings.tumblr_link }}" title="{{ shop.name }} Organics on Tumblr opens in a new tab" rel="me" target="_blank" class="icon-tumblr"></a></li>
  {% endif %}

  {% if settings.twitch_link != '' %}
    <li role="listitem"><a href="{{ settings.twitch_link }}" title="{{ shop.name }} Organics on Twitch opens in a new tab" rel="me" target="_blank" class="icon-twitch"></a></li>
  {% endif %}

  {% if settings.twitter_link != '' %}
    <li role="listitem"><a href="{{ settings.twitter_link }}" title="{{ shop.name }} Organics on Twitter opens in a new tab" rel="me" target="_blank" class="icon-twitter"></a></li>
  {% endif %}

  {% if settings.vimeo_link != '' %}
    <li role="listitem"><a href="{{ settings.vimeo_link }}" title="{{ shop.name }} Organics on Vimeo opens in a new tab" rel="me" target="_blank" class="icon-vimeo"></a></li>
  {% endif %}

  {% if settings.whatsapp_link != '' %}
    <li role="listitem"><a href="{{ settings.whatsapp_link }}" title="{{ shop.name }} Organics on WhatsApp opens in a new tab" rel="me" target="_blank" class="icon-whatsapp"></a></li>
  {% endif %}

  {% if settings.youtube_link != '' %}
    <li role="listitem"><a href="{{ settings.youtube_link }}" title="{{ shop.name }} Organics on YouTube opens in a new tab" rel="me" target="_blank" class="icon-youtube"></a></li>
  {% endif %}
</ul>