<style>
  {% comment %} facet-filters-form:not([open]) {
    display: none;
  } {% endcomment %}
  body.scroll-stop {
    overflow: hidden;
  }
  .plp-filter-model {
    --color-pink: #DD136E;
    --color-border: #D6D6D6;
    --color-text: #17130F;
    --color-filter-gray: #F5F5F5;
    --color-filter-count: #717171;
    --color-white: #fff;
    position: fixed;
    left:0;
    bottom:0;
    --filter-body-height: calc(92vh - 66px - 62px);
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background: var(--color-white);
    z-index: 1100;
    display: none;
  }
  _::-webkit-full-page-media, _:future, :root .plp-filter-model{
    height: 100vh;
    max-height: 100vh;
  }
  .plp-filter-model .plp-filter-header {
    height: 62px;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 20px 16px 20px;
  }
  .plp-filter-model .plp-filter-header-text {
    font-size: 17px;
    font-weight: 650;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: var(--color-text);
    text-transform: uppercase;
  }
  .plp-filter-model .plp-filter-header-text,
  .plp-filter-model .plp-filter-header-text button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
  }
  .plp-filter-model .plp-filter-header-text button {
    justify-content: center;
    margin-right: 8px;
  }
  .plp-filter-model .plp-filter-header svg {
    width: 20px;
  }
  .plp-filter-model .plp-filter-header .btn {
    background: none;
    color: var(--color-pink);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
  }

  /* Model Body */
  .plp-filter-model .plp-filter-body {
    position: relative;
  }
  .plp-filter-model .plp-filter-body {
    height: var(--filter-body-height);
    max-height: var(--filter-body-height);
  }
  .plp-filter-model .plp-filter-body form {
    height: inherit;
  }
  .plp-filter-model .plp-filter-values {
    max-height: 99%;
  }
  .plp-filter-model .plp-filter-values,
  .plp-filter-model .plp-filter-items {
    overflow: hidden;
    overflow-y: auto;
    margin:0;
    padding:0;
    list-style: none;
  }
  .plp-filter-model .plp-filter-values li,
  .plp-filter-model .plp-filter-items li {
    margin:0;
  }
  .plp-filter-model .plp-filter-value {
    padding: 2px;
  }
  .plp-filter-model .plp-filter-value label {
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.02em;
    position: relative;
    padding-left: 28px;
    color: var(--color-text);
    display: flex;
    align-items: center;
  }
  .plp-filter-model .plp-filter-value label span {
    color: var(--color-filter-count);
    font-weight: 400;
    margin-left: 8px;
  }
  .plp-filter-model .plp-filter-value label::before,
  .plp-filter-model .plp-filter-value label::after {
    content: '';
    display: block;
  }
  .plp-filter-model .plp-filter-value label::before {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid var(--color-pink);
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
  }
  .plp-filter-model .plp-filter-value label::after {
    width: 3px;
    height: 6px;
    border: 2px solid transparent;
    position: absolute;
    left: 1.5px;
    transform: rotate(35deg) translateY(-50%) scale(0, 1);
    top: calc(50% - 4.5px);
    border-radius: 0;
    transition: border-color 100ms ease-in, transform 150ms ease-in-out 100ms;
  }
  .plp-filter-model .plp-filter-value input:checked + label::after {
    border-right-color: var(--color-pink);
    border-bottom-color: var(--color-pink);
    transform: rotate(35deg) translateY(-50%) scale(1,1);
  }
  .plp-filter-model .plp-filter-value input:focus + label,
  .plp-filter-model .plp-filter-value input:focus-visible + label {
    outline: 1px solid #000;
  }
  .plp-filter-model .plp-filter-wrapper {
    display: flex;
    flex-direction: column;
    height: inherit;
  }
  .plp-filter-model .plp-filter-body .plp-filter-items {
    width: 37.5%;
    max-width: 37.5%;
    background: var(--color-filter-gray);
    height: inherit;
  }
  .plp-filter-model .plp-filter-body .filter-title-content {
    width: 63.5%;
    max-width: 63.5%;
    position: absolute;
    left: 37.5%;
    top: 0;
    padding: 0.5rem 1rem;
    height: 100%;
    display: none;
  }
  .plp-filter-model .plp-filter-body .btn-filter-title.active + .filter-title-content {
    display: block;
  }
  .plp-filter-model .btn-filter-title {
    font-size: 15px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: var(--color-text);
    background: none;
    padding: 0 20px;
    display: block;
    width: 100%;
    text-align: left;
    border-left: 5px solid transparent;
  }
  .plp-filter-model .btn-filter-title.active {
    border-left-color: var(--color-pink);
  }

  /* Model Footer  */
  .plp-filter-model .plp-filter-footer {
    display: flex;
  }
  .plp-filter-model .plp-filter-footer {
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -4px 14px 0px #0000001C;
    height: 66px;
    margin-top: auto;
    padding: 20px;
  }
  .plp-filter-model .plp-filter-footer .btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;  
  }
  .plp-filter-model .plp-filter-footer .btn:not(.btn-outlined) {
    background: var(--color-pink);
    height: 44px;
    border-radius: 80px;
    flex: 1;
    color: var(--color-white);
  }
  .plp-filter-model .plp-filter-footer .btn-outlined {
    color: var(--color-pink);
    background: none;
    margin-right: 20px;
  }

  @media screen and (min-width: 768px){
    .plp-filter-model {
      display: none;
    }
  }
</style>

{% comment %} :: Mobile Sort by Tabs :: {% endcomment %}
<div class="sort_filter_container">
    <div class="sort_filter_mobile">
        <div class="sort_filter_mb sort_filter_mb_sort">
            <div class="filter_sort_icon">
                <svg
                    width="18"
                    height="16"
                    viewBox="0 0 18 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M9.625 7.375V14.875C9.625 15.0408 9.55915 15.1997 9.44194 15.3169C9.32473 15.4342 9.16576 15.5 9 15.5C8.83424 15.5 8.67527 15.4342 8.55806 15.3169C8.44085 15.1997 8.375 15.0408 8.375 14.875V7.375C8.375 7.20924 8.44085 7.05027 8.55806 6.93306C8.67527 6.81585 8.83424 6.75 9 6.75C9.16576 6.75 9.32473 6.81585 9.44194 6.93306C9.55915 7.05027 9.625 7.20924 9.625 7.375ZM14.625 13C14.4592 13 14.3003 13.0658 14.1831 13.1831C14.0658 13.3003 14 13.4592 14 13.625V14.875C14 15.0408 14.0658 15.1997 14.1831 15.3169C14.3003 15.4342 14.4592 15.5 14.625 15.5C14.7908 15.5 14.9497 15.4342 15.0669 15.3169C15.1842 15.1997 15.25 15.0408 15.25 14.875V13.625C15.25 13.4592 15.1842 13.3003 15.0669 13.1831C14.9497 13.0658 14.7908 13 14.625 13ZM16.5 10.5H15.25V1.125C15.25 0.95924 15.1842 0.800269 15.0669 0.683058C14.9497 0.565848 14.7908 0.5 14.625 0.5C14.4592 0.5 14.3003 0.565848 14.1831 0.683058C14.0658 0.800269 14 0.95924 14 1.125V10.5H12.75C12.5842 10.5 12.4253 10.5658 12.3081 10.6831C12.1908 10.8003 12.125 10.9592 12.125 11.125C12.125 11.2908 12.1908 11.4497 12.3081 11.5669C12.4253 11.6842 12.5842 11.75 12.75 11.75H16.5C16.6658 11.75 16.8247 11.6842 16.9419 11.5669C17.0592 11.4497 17.125 11.2908 17.125 11.125C17.125 10.9592 17.0592 10.8003 16.9419 10.6831C16.8247 10.5658 16.6658 10.5 16.5 10.5ZM3.375 10.5C3.20924 10.5 3.05027 10.5658 2.93306 10.6831C2.81585 10.8003 2.75 10.9592 2.75 11.125V14.875C2.75 15.0408 2.81585 15.1997 2.93306 15.3169C3.05027 15.4342 3.20924 15.5 3.375 15.5C3.54076 15.5 3.69973 15.4342 3.81694 15.3169C3.93415 15.1997 4 15.0408 4 14.875V11.125C4 10.9592 3.93415 10.8003 3.81694 10.6831C3.69973 10.5658 3.54076 10.5 3.375 10.5ZM5.25 8H4V1.125C4 0.95924 3.93415 0.800269 3.81694 0.683058C3.69973 0.565848 3.54076 0.5 3.375 0.5C3.20924 0.5 3.05027 0.565848 2.93306 0.683058C2.81585 0.800269 2.75 0.95924 2.75 1.125V8H1.5C1.33424 8 1.17527 8.06585 1.05806 8.18306C0.940848 8.30027 0.875 8.45924 0.875 8.625C0.875 8.79076 0.940848 8.94973 1.05806 9.06694C1.17527 9.18415 1.33424 9.25 1.5 9.25H5.25C5.41576 9.25 5.57473 9.18415 5.69194 9.06694C5.80915 8.94973 5.875 8.79076 5.875 8.625C5.875 8.45924 5.80915 8.30027 5.69194 8.18306C5.57473 8.06585 5.41576 8 5.25 8ZM10.875 4.25H9.625V1.125C9.625 0.95924 9.55915 0.800269 9.44194 0.683058C9.32473 0.565848 9.16576 0.5 9 0.5C8.83424 0.5 8.67527 0.565848 8.55806 0.683058C8.44085 0.800269 8.375 0.95924 8.375 1.125V4.25H7.125C6.95924 4.25 6.80027 4.31585 6.68306 4.43306C6.56585 4.55027 6.5 4.70924 6.5 4.875C6.5 5.04076 6.56585 5.19973 6.68306 5.31694C6.80027 5.43415 6.95924 5.5 7.125 5.5H10.875C11.0408 5.5 11.1997 5.43415 11.3169 5.31694C11.4342 5.19973 11.5 5.04076 11.5 4.875C11.5 4.70924 11.4342 4.55027 11.3169 4.43306C11.1997 4.31585 11.0408 4.25 10.875 4.25Z"
                        fill="#17130F"
                    />
                </svg>
            </div>
            <button type="button" aria-expanded="false">Sort by</button>
        </div>
        <div class="sort_filter_mb sort_filter_mb_filter">
            <div class="filter_sort_icon">
                <svg
                    width="18"
                    height="16"
                    viewBox="0 0 18 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M17.0156 0.869529C16.9194 0.647272 16.76 0.458197 16.5572 0.325821C16.3544 0.193445 16.1172 0.123609 15.875 0.124997H2.12498C1.88305 0.125474 1.64646 0.196146 1.4439 0.32844C1.24135 0.460734 1.08154 0.648965 0.98386 0.870297C0.886179 1.09163 0.854826 1.33655 0.893604 1.57535C0.932382 1.81415 1.03963 2.03657 1.20232 2.21562L1.20857 2.22265L6.49998 7.87265V13.875C6.49993 14.1012 6.56127 14.3232 6.67747 14.5173C6.79368 14.7115 6.96038 14.8704 7.15981 14.9772C7.35924 15.084 7.58392 15.1347 7.8099 15.1239C8.03587 15.113 8.25466 15.041 8.44295 14.9156L10.9429 13.2484C11.1143 13.1343 11.2548 12.9796 11.352 12.798C11.4492 12.6165 11.5 12.4137 11.5 12.2078V7.87265L16.7922 2.22265L16.7984 2.21562C16.9628 2.03739 17.0711 1.81468 17.1097 1.57528C17.1484 1.33589 17.1156 1.09043 17.0156 0.869529ZM10.589 7.02187C10.3719 7.25202 10.2507 7.55626 10.25 7.87265V12.2078L7.74998 13.875V7.87265C7.75071 7.55512 7.62996 7.24933 7.41248 7.01797L2.12498 1.375H15.875L10.589 7.02187Z"
                        fill="#17130F"
                    />
                </svg>
            </div>
            <button type="button" aria-expanded="false" data-filter-open>Filters</button>
        </div>
    </div>
</div>

{% comment %} :: Sort By Model :: {% endcomment %}
<div class="custome_sort_by">
    <div class="sort_by_heading">
      {% if section.settings.collection_sort %}
        <button type="button" class="sort_by_close_button">  
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.33154 1.16519L14.051 14.215" stroke="#040404"/>
            <path d="M13.7194 1L1 14.215" stroke="#040404"/>
          </svg>
          <span class="visually-hidden">Close sort by</span>
        </button>
  
        <label for="sort-by-mobile" class="sortby-label">Sort by</label>
        <ul
          class="sort_by sort_by_mobile"
          id="sort-by-mobile"
          data-sort-by-mob
          role="list"
        >
          {%- for option in results.sort_options -%}
            {% assign sort_active = false %}
            {% if results.sort_by == blank and results.default_sort_by == option.value %}
              {% assign sort_active = true %}
            {% elsif results.sort_by == option.value %}
              {% assign sort_active = true %}
            {% endif %}
            <li role="listitem">
              <button 
                  {% if sort_active %}class="selected"{% endif %}
                  data-value="{{ option.value }}"
                  type="button" 
                  aria-selected="{% if sort_active %}true{% else %}false{% endif %}">
                  {{ option.name }}
              </button>
            </li>
          {%- endfor -%}
        </ul>
      {% endif %}
    </div>
</div>

{% comment %} :: Filter Model :: {% endcomment %}
{% assign has_active_filters = false %}

{% capture faceted_active_filters %}
  {%- for filter in results.filters -%}
    {% if filter.type == "price_range"  %}
      {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
        {% assign has_active_filters = true %}
        <a class="faceted-active-filters__remove-filter global-button" href="{{ filter.url_to_remove }}">
          {%- assign min_value = filter.min_value.value | default: 0 -%}
          {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
          <i class="x-icon"></i>{{ min_value | money }} - {{ max_value | money }}
        </a>
      {%- endif -%}
    {%- else -%}
      {%- for filter_value in filter.active_values -%}
        {% assign has_active_filters = true %}
        <a class="faceted-active-filters__remove-filter global-button" href="{{ filter_value.url_to_remove }}" role="button" aria-label="remove {{ filter_value.label }} filter">
          <i class="x-icon"></i>{{ filter_value.label }}
        </a>
      {%- endfor -%}
    {% endif %}
  {%- endfor -%}
{% endcapture %}

<facet-filters-form>
  <div class="plp-filter-model">
    <div class="plp-filter-wrapper">
      {% comment %} Model Header {% endcomment %}
      <div class="plp-filter-header">
        <div class="plp-filter-header-text">
          <button type="button" aria-label="Close filter" data-filter-close>{% render 'icon' with 'arrow-left' %}</button>
          Filters
        </div>
        {% if has_active_filters %}
          <div class="plp-filter-header-cta">
            <button aria-label="Clear all filters" type="button" class="btn btn-link" data-filter-clear-all>Clear All</button>
          </div>
        {% endif %}
      </div>
      {% comment %} Model Body {% endcomment %}
      <div class="plp-filter-body">
        <form data-filter-facet-form>
          <ul class="plp-filter-items" role="list">
            {%- for filter in results.filters -%}
              {% assign mainIndex = forloop.index %}
              <li role="listitem">
                <button 
                  aria-expanded="{% if forloop.first %}true{%else%}false{% endif %}" 
                  data-facet="{{- filter.label | handle -}}" 
                  type="button" 
                  class="btn btn-outlined btn-filter-title {% if forloop.first %} active{% endif %}">
                  {{- filter.label | strip -}}
                </button>
                <div class="filter-title-content" tabindex="-1">
                  <ul 
                    role="list"
                    data-facet="{{- filter.label | handle -}}"
                    class="plp-filter-values animated fadeInLeft"
                  >
                    {%- for filter_value in filter.values -%}
                      {% capture input_id %}Filter-mobile-{{ filter.label | escape }}-{{ forloop.index }}{% endcapture %}
                      {% if filter_value.active %}
                        <li class="plp-filter-value" role="listitem">
                          <input 
                              class="faceted-filter-group-display__list-item-input" 
                              type="checkbox" 
                              name="{{ filter_value.param_name | escape }}"
                              value="{{ filter_value.value | escape }}"
                              id="{{- input_id -}}" 
                              {% if filter_value.active -%}checked{%- endif %}
                              {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                          />
                          <label for="{{- input_id -}}">
                            {{- filter_value.label -}}
                            <span>
                              ({{ filter_value.count }}) 
                              <span class="visually-hidden">
                                {{ filter_value.count | pluralize: 'product', 'products' }}
                              </span>
                            </span>
                          </label>
                        </li>
                      {% endif %}
                    {%- endfor -%}
                    {%- for filter_value in filter.values -%}
                      {% capture input_id %}Filter-mobile-{{ filter.label | escape }}-{{ forloop.index }}{% endcapture %}
                      {% unless filter_value.active %}
                        <li class="plp-filter-value" role="listitem">
                          <input 
                              class="faceted-filter-group-display__list-item-input" 
                              type="checkbox" 
                              name="{{ filter_value.param_name | escape }}"
                              value="{{ filter_value.value | escape }}"
                              id="{{- input_id -}}" 
                              {% if filter_value.active -%}checked{%- endif %}
                              {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                          />
                          <label for="{{- input_id -}}">
                            {{- filter_value.label -}}
                            <span>
                              ({{ filter_value.count }}) 
                              <span class="visually-hidden">
                                {{ filter_value.count | pluralize: 'product', 'products' }}
                              </span>
                            </span>
                          </label>
                        </li>
                      {% endunless %}
                    {%- endfor -%}
                  </ul>
                </div>
              </li>
            {%- endfor -%}
          </ul>
        </form>
      </div>
      {% comment %} Model Footer {% endcomment %}
      <div class="plp-filter-footer">
        <button type="button" class="btn btn-outlined" aria-label="Close filter" data-filter-close>Close</button>
        <button type="button" class="btn" data-filter-apply aria-label="Apply filter">Apply</button>
      </div>
    </div>
  </div>
</facet-filters-form>

<script src="{{- 'facet-filters.js' | asset_url -}}" defer></script>