<section class="section">
  <div class="container content account-container">
    <div class="one-half column medium-down--one-whole account-title">
      <h1>
        <span role="text">
          My
          <span>Account</span>
        </span>
      </h1>
    </div>

    {% render 'account-sidebar' %}

    <div class="two-thirds columns medium-down--one-whole account-main my-order">
      <h2 class="my-order-title-desk">{{ 'customer.orders.title' | t }}</h2>
      <div class="address-back-btn">
        <a role="button">
          <span>
            <svg aria-hidden="true" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 11.5L1 6.5L7 1" stroke="#EB1676" stroke-width="1.3" />
            </svg>
          </span>
          <p>Back</p>
        </a>
      </div>
      <h1 class="my-order-title-mob">My
        <span>Orders</span>
      </h1>
      {% paginate customer.orders by 5 %}
        {% if customer.orders.size != 0 %}
          {% if paginate.current_page > 1 %}
          <script>
            window.addEventListener('DOMContentLoaded', function() {
              (function($) {
                jQuery('.account-left ').addClass('mobile-hidden');
                jQuery('.account-container').addClass('mob_account-container');
                jQuery('.account-title').addClass('mobile-hidden');
              })(jQuery);
            });
          </script>
          {% endif %}
          
          <table id="customer-orders" class="collapsible-table">
            <caption class="visually-hidden">My orders</caption>
            <thead>
              <tr>
                <th>#</th>
                <th>{{ 'customer.orders.order_number' | t }}</th>
                <th>Price</th>
                <th>Qty</th>
                <th>{{ 'customer.orders.date' | t }}</th>
                {% comment %}
                <th>{{ 'customer.orders.payment_status' | t }}</th>
                {% endcomment %}
                <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                {% comment %}
                <th>{{ 'customer.orders.total' | t }}</th>
                {% endcomment %}
              </tr>
            </thead>
            <tbody>
              {% assign count = 0 %}
              {% for order in customer.orders %}
                {% assign count = count | plus: 1 %}
                {% assign my_variable = order.name | remove:'#' %}
                <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
                  <td data-label="">{{ count }}</td>
                  <td data-label="{{ 'customer.orders.order_number' | t }}">{{ my_variable | link_to: order.customer_url }}</td>
                  <td data-label="Price">
                    <span class="money">{% render 'price-element', price: order.total_price %}</span>
                  </td>
                  {% assign total_qty = 0 %}
                  {% for line_item in order.line_items %}
                    {% assign total_qty = total_qty | plus: line_item.quantity %}
                  {% endfor %}
                  <td data-label="Qty">{{ total_qty }}</td>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: "%m/%d/%Y" }}</td>
                  {% comment %}
                  <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                  {% endcomment %}
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                  {% comment %}
                  <td data-label="{{ 'customer.orders.total' | t }}">
                    <span class="money">{% render 'price-element', price: order.total_price %}</span>
                  </td>
                  {% endcomment %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="order-container">
            {% for order in customer.orders %}
              {% assign total_qty_mob = 0 %}
              {% for line_item in order.line_items %}
              {% assign total_qty_mob = total_qty_mob | plus: line_item.quantity %}
            {% endfor %}
              <div class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
                <div data-label="{{ 'customer.orders.order_number' | t }}: ">{{ order.name | link_to: order.customer_url }}</div>
                <div data-label="Price: ">
                  <span class="money">{% render 'price-element', price: order.total_price %}</span>
                </div>
                <div data-label="Quantity: ">{{ total_qty_mob }}</div>
                {% comment %}
                <div data-label="{{ 'customer.orders.payment_status' | t }}: ">{{ order.financial_status_label }}</div>
                {% endcomment %}
                <div data-label="{{ 'customer.orders.fulfillment_status' | t }}: ">{{ order.fulfillment_status_label }}</div>
                <div data-label="{{ 'customer.orders.date' | t }}: ">{{ order.created_at | date: "%d/%m/%Y" }}</div>
                {% comment %}
                <div data-label="{{ 'customer.orders.total' | t }}">
                  <span class="money">{% render 'price-element', price: order.total_price %}</span>
                </div>
                {% endcomment %}
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p>{{ 'customer.orders.none' | t }}</p>
        {% endif %}
        {%
          render 'pagination',
          paginate: paginate,
        %}
      {% endpaginate %}
    </div>
  </div>
</section>
{% if paginate.pages > 1 %}
  <style>
    .account-left {
      display: none;
    }
  </style>
{% endif %}
{% comment %}
{% section 'newsletter' %}
{% endcomment %}